body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    padding: 20px;
}
.container img{
    width: 40%;
    height: 700px;
    object-fit: cover;
}
p{
    width: 50%;
    margin-top: 90px;
}
@media only screen and (max-width:600px){
    .container{
        margin-top: -60px;
        display: block;
        text-align: center ;
        justify-content: center;
        align-items: center; 
    }
    .container p{
        text-align: center;
        margin-left: 24% ;
    }
    .container img{
        width: 40%;
        height: 300px;
        object-fit: cover;
    }
}